@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&family=Mulish:wght@200;300;400&display=swap');

* {
  box-sizing: border-box;
}
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #000;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggle {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 3rem;
  padding: 1rem 1.2rem;
  position: absolute;
  top: 3rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  height: 19rem;
  width: 19rem;
  border-radius: 50%;
  border: solid 3px rgb(255, 187, 36);
  position: relative;
  margin-bottom: 1rem;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.hours {
  background-color: var(--primary-color);
}
#hours-hand {
  position: absolute;
  height: 80px;
  width: 4px;
  right: 145px;
  bottom: 147px;
  border-radius: 16px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease-out;
  transform-origin: bottom;
}
.minutes {
  background-color: var(--primary-color);
}
#minutes-hand {
  position: absolute;
  height: 135px;
  width: 2px;
  right: 147px;
  bottom: 147px;
  border-radius: 3px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
#seconds-hand {
  position: absolute;
  height: 135px;
  width: 2px;
  background-color: #ff6600;
  right: 147px;
  bottom: 147px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
#center {
  background-color: #ff6600;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#center::after {
  content: '';
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.3s ease-out;
}
.time {
  font-size: 60px;
}

.date {
  color: #999;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
}

.date .circle {
  background-color: var(--primary-color);
  color: #ff6600;
  border-radius: 50%;
  font-weight: 500;
  height: 2.6rem;
  width: 2.6rem;
  padding: 1.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  transition: all 0.5s ease-in;
  font-size: 2rem;
  margin: 0 0.4rem;
}
